<!DOCTYPE html>
<html lang='en'>
    <head>
        <% include ../partials/head %>
    </head>
    <body class='container'>
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <% data.forEach(item => { %>

                    <tr>
                        <th><%= item.id %></th>
                        <td><%= item.name %></td>
                        <td><%= item.qty %></td>
                        <td><%= item.amount %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
        </main>
    </body>
</html>